<!--The whole content below can be removed with the new code.-->
<div class="mw9 center ph3-ns debug-grid">
  <div class="cf ph2-ns">
    <div class="fl w-100 w-25-ns pa2">
      <div class="outline bg-white tc pv4"></div>
    </div>
    <div class="fl w-third w-25-ns pa2">
      <div class="outline bg-white tc pv4"></div>
    </div>
    <div class="fl w-third w-25-ns pa2">
      <div class="outline bg-white tc pv4"></div>
    </div>
    <div class="fl w-third w-25-ns pa2">
      <div class="outline bg-white tc pv4"></div>
    </div>
  </div>
</div>
