<div class="column is-8 is-offset-2">
  <div class="columns">
    <app-button [id]=0 class="column"></app-button>
    <app-button [id]=1 class="column"></app-button>
    <app-button [id]=2 class="column"></app-button>
    <app-button [id]=3 class="column"></app-button>
    <app-button [id]=4 class="column"></app-button>
  </div>
  <div class="columns">
    <app-button [id]=5 class="column"></app-button>
    <app-button [id]=6 class="column"></app-button>
    <app-button [id]=7 class="column"></app-button>
    <app-button [id]=8 class="column"></app-button>
    <app-button [id]=9 class="column"></app-button>
  </div>
  <div class="columns">
    <app-button [id]=10 class="column"></app-button>
    <app-button [id]=11 class="column"></app-button>
    <app-button [id]=12 class="column"></app-button>
    <app-button [id]=13 class="column"></app-button>
    <app-button [id]=14 class="column"></app-button>
  </div>
  <div class="columns">
    <app-button [id]=15 class="column"></app-button>
    <app-button [id]=16 class="column"></app-button>
    <app-button [id]=17 class="column"></app-button>
    <app-button [id]=18 class="column"></app-button>
    <app-button [id]=19 class="column"></app-button>
  </div>
  <div class="columns">
    <app-button [id]=20 class="column"></app-button>
    <app-button [id]=21 class="column"></app-button>
    <app-button [id]=22 class="column"></app-button>
    <app-button [id]=23 class="column"></app-button>
    <app-button [id]=24 class="column"></app-button>
  </div>
</div>
